@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: linear-gradient(145deg, rgba(47, 47, 47, 0.9), rgba(23, 23, 23, 0.9));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}
